body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
    
  }
  
  .page {
    width: 1000px;
    margin: 0 auto 0;
    padding-top: 65px;
    
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;  
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  ul {
    display: flex;
    list-style: none;
    width: 267.21px;
    height: 23px;
    padding: 0;
    gap: 48px;
    font-size: 18px;

  }

  a {
    color: #1f1534;
    text-decoration: none;
  }

  ul li a {
      opacity: 0.5;
      text-align: justify;
      margin-left: 10px;
      
  }
  
  ul li a:hover {
    font-weight: bold;
    opacity: 1;
  }
  
  h1,
  ul {
    font-family: "Mulish", sans-serif;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
    font-weight: 400;
    width: 490px;

  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }


  section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #7d7987;
    width: 438.34px;
    margin-bottom: 41px;
  }
  
  button {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: #69B99D;
    border: 0;
    padding: 14px 32px 15px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
      background: #4EA788;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
    
  }
  
  footer a {
    font-weight: bold;
  }
  
  #balls {
      bottom: 0;
      right: 0;
      position: fixed;
  }